.popup {
    background: #030303b5;
          border: 1px solid #ffffff33;
          border-bottom-left-radius: 30px;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 0px;
          padding: 1.5rem;
          width: 80%;
}

@media (--s) {
    .popup {
        background: #030303b5;
          border: 1px solid #ffffff33;
          border-bottom-left-radius: 30px;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          border-bottom-right-radius: 0px;
          padding: 1.5rem;
          width: 80%;
        position: absolute;
        top: 10%;
    }
}